form > span{
    color: red;
}

body {
    background-color:lightslategray;
}

input[type=text]{
    margin-bottom: 1em;
}

form > label{
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-right: 2em;
    font-family: Arial;
}

form > button{
    margin-left: 50%;
    width: 100px;
    height: 40px;
}

form > button:hover{
    background-color:lightblue;
}

input[type=text]:hover{
    background-color:lightblue;
}

#title{
    margin-left: 35%;
    font-family: Verdana;
}

@media only screen and (max-width: 600px){
    form > label{
        text-align:left;
    }

    form > button{
        margin-left: 0%;
    }

    #title{
        margin-left: 0%;
    }
}